
{% extends 'base/base.html' %}
{% load static %}


{% load static %}

{% block content %}
{% include 'base/message.html' %}
<div class="container" style="width: 80vw; margin: 50px auto;">
  <h2 class="title hero-v4 text-span">Frequently Asked Questions</h2>

  <h3 class="brix---accordion-title">What is Webflow and why is it the best website builder?</h3>

  <p class="brix---paragraph-default-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.</p>

  <h3 class="brix---accordion-title">What is your favorite template from BRIX Templates?</h3>

  <p class="brix---paragraph-default-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.</p>

  <h3 class="brix---accordion-title">How do you clone a Webflow Template?</h3>

  <p class="brix---paragraph-default-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.</p>

  <h3 class="brix---accordion-title">Why is BRIX Templates the best Webflow agency?</h3>

  <p class="brix---paragraph-default-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.</p>
</div>          

{% endblock %}
