<div class="bookContainer">
  <div class="leftColumn">
    <a href="{% url 'home:book' item.id %}">
    {% if item.coverImage %}
    <img src="/media/{{ item.coverImage }}" width="100px" height="140px" alt="image">
    {% else %}
    <img src="/media/book/defaultCover.jpg" width="150px" alt="image">
    {% endif %}
    </a>
  </div>
  <div class="rightColumn">
    <p>{{item.id}}</p>
    <h4><a href="{% url 'home:book' item.id%}">{{item.title}}</a></h3>
    <p>{{item.author}}</h4>
    {% if item.publisher and item.publication %}
    <p>{{item.publisher}}@{{item.publication}}</p>
    {% else %}
      {% if item.publisher %}
      <p>{{item.publisher}}</p>
      {% else %}
      <p>{{item.publication}}</p>
      {% endif %}
    {% endif %}
  </div>
</div>