{% extends 'base/base.html' %}


{% block content %}
{% load static %}
<div class="container">
  <div class="vendor-info">
    <h2>Vendor Name: {{vendor.first_name}}</h2>
    <p>Contact Email: {{vendor.email}}</p>
    <p>Total books: {{books.count}} books ({{copies.count}} copies)</p>
    {% comment %} <p>Total books: {{totalAmount}}</p> {% endcomment %}
  </div>
  <div class="galleryView">
    {% for item in copies_2 %}
      {% include 'home/shelfItem.html' %}
    {% endfor %}
  </div>
</div>

{% endblock %}