{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'base/header.css' %}">
  <link rel="stylesheet" href="{% static 'user/login.css' %}">
  <link rel="stylesheet" href="{% static 'base/gallery.css' %}">
  <title>BiblioTech - {{web}}</title>
  <link rel="shortcut icon" href="{% static 'base/favicon.png' %}" type="image/x-icon">
</head>

<body>
  <header>
    <a href="{% url 'home:index' %}"><h1>BiblioTech App</h1></a>
    
    <ul>
      <li><a href="{% url 'home:index' %}">HOME</a></li>
      <li><a href="{% url 'user:info' %}">INFO</a></li>
      <li><a href="{% url 'home:gallery' %}">GALLERY</a></li>
      <li><a href="{% url 'home:search' %}">SEARCH</a></li>
      <li><a href="{% url 'user:login' %}">LOGIN</a></li>
      <li><a href="{% url 'user:register' %}">REGISTER</a></li>
    </ul>
  </header>
  
  {% block content %}
  {% endblock %}
</body>
</html>