{% extends 'base/base.html' %}


{% block content %}
{% load socialaccount %}
<style>
    .errorlist{
        color: red;
    }
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
            </button>
            {{ message | safe}}
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}

<h1>Login View</h1> 

<form action="" method="post">  
    {% csrf_token %}
    {% for key, value in form.error.items %}
        {{value}}
    {% endfor %}

    <div class="container">
        {{form.as_p}}
        <button type="submit">Login</button>   
        <input type="checkbox" checked="checked"> Remember me   
        <button type="button" class="cancelbtn"> Cancel</button>   
        Forgot <a href="#"> password? </a>   
    </div>   
    <script src="//accounts.google.com/gsi/client" async></script>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
</form>

{% endblock %}
