{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<head>
  <link rel="stylesheet" href="/static/user/info.css">
</head>

<h1> Info View </h1> 
<div class="container">
  <div>
    <span style="float: right; text-align: right;">
      <a href="{% url 'user:edit' %}">Edit profile</a>
    </span>
  </div>
  <br>
  {% if user.avatar %}
  <img src="/media/{{ user.avatar }}" width=150px alt="avatar image">
  {% else %}
    {% if socialAccount %}
    <img src="{{ socialAccount.get_avatar_url }}" alt="avatar">
    <i>Image from your linked Google Account</i>
    {% else %}
    <img src="/media/user/defaultAvatar.jpg" width="150px" alt="image">
    {% endif %}
  {% endif %}
  <p><span><b>User: </b></span> {{ user.username }}</p>
  <p><span><b>Full name: </b></span> {{ user.last_name }}, {{ user.first_name }}</p>
  <p><span><b>Email: </b></span> {{ user.email }}</p>
  <p><span><b>Phone number: </b></span> {{ user.phoneNum }}</p>
  <p><span><b>Address: </b></span> {{ user.address }}</p>
  <p><span><b>Birthdate: </b></span> {{ user.birthdate }}</p>
  <p><span><b>Gender: </b></span> {{ user.get_gender_display }}</p>
  <p><span><b>Role: </b></span> {{ user.get_role_display }}</p>
  {% if request.user.role < 1 %}
  <p style="text-align: right;">You are currently not a moderator. <a href="{% url 'mod:modApply' %}">Apply here!</a></p>
  {% endif %}
  {% endblock %}

</div>
