{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<head>
  <link rel="stylesheet" href="/static/user/info.css">
</head>

<h1> Profile Edit View</h1> 
<div class="container">
  
  {% if user.avatar %}
  <img src="/media/{{ user.avatar }}" width=150px alt="avatar image">
  {% else %}
    {% if socialAccount %}
    <img src="{{ socialAccount.get_avatar_url }}" alt="avatar">
    <i>Image from your linked Google Account</i>
    {% else %}
    <img src="/media/user/defaultAvatar.jpg" width="150px" alt="image">
    {% endif %}
  {% endif %}

  <form action="" method="post" style="padding: 20px;" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="SAVE">
  </form>
  {% if request.user.role < 1 %}
  <p style="text-align: right;">You are currently not a moderator. <a href="{% url 'mod:modApply' %}">Apply here!</a></p>
  {% endif %}
</div>

{% endblock %}